[submodule "fabrica de UI INTERFACE fromtend/manim-skill"]
	path = fabrica de UI INTERFACE fromtend/manim-skill
	url = https://github.com/vumichien/manim-skill.git
	branch = main

[submodule "fabrica de UI INTERFACE fromtend/skill-canvas-video"]
	path = fabrica de UI INTERFACE fromtend/skill-canvas-video
	url = https://github.com/siegerts/skill-canvas-video.git
	branch = main

[submodule "fabrica de UI INTERFACE fromtend/chat-animation"]
	path = fabrica de UI INTERFACE fromtend/chat-animation
	url = https://github.com/xue-xiaobao/chat-animation.git
	branch = main

[submodule "fabrica de UI INTERFACE fromtend/taste-skill"]
	path = fabrica de UI INTERFACE fromtend/taste-skill
	url = https://github.com/Leonxlnx/taste-skill.git
	branch = main
